@import "@fortawesome/fontawesome-free/css/all.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Lexend', sans-serif;
}

.hero-overlay {
    background: linear-gradient(rgba(15, 23, 42, 0.6), rgba(15, 23, 42, 0.6));
}

body{
    background:#ffffff;
}

input{
    transition:all .2s ease;
}

.shadow-xl{
    box-shadow:
    0 20px 40px rgba(0,0,0,.08);
}